<mat-dialog-content>
  <p>Create User</p>
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input disabled matInput [(ngModel)]="data.id" >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.username" >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="data.phone" >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button 
  [mat-dialog-close]="{id: data.id, name: data.name, username: data.username, email: data.email, phone: data.phone}"
  >Ok</button>
</mat-dialog-actions>
