:host{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 70dvw;
}

.card__create{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 120px;
    box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: .3);

    transition: .3s;
    &:hover{
        scale: 1.05;
    }
}