<div [formGroup]="myForm">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput 
      formControlName="name">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput 
      formControlName="username">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput 
      formControlName="email">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput
      min="5"
      formControlName="phone">
      @if (!myForm.controls.phone.valid && myForm.controls.phone.touched) {
        <mat-hint>Minlength number 5</mat-hint>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="closeDialog()">No Thanks</button>
    <button mat-button [mat-dialog-close]="myForm.value" [disabled]="!myForm.valid">{{ isEdit ? "Save edit" : "Create User"}}</button>
  </mat-dialog-actions>
</div>